/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* tailwind */
@import "tailwindcss";

/* custom utilities */
@layer utilities {
    .font-inter {
        font-family: "Inter", sans-serif;
    }

    .font-noto {
        font-family: "Noto Serif", serif;
    }


    .btn {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        border: 1px solid #E95A08;
        background-color: #E95A08;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s;
    }

    .btn:hover {
        background-color: transparent;
        color: #E95A08;
    }

    .main-color {
        color: #E95A08;
    }

    .section {
        max-width: 100%;
        margin: 60px auto;
        justify-items: center;
    }

    .section-title {
        font-weight: 700;
        font-size: 50px;
    }
}

/* nav styles */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 0 150px;
}

.nav-menu,
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.nav-menu .nav-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

/* hero area styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 150px;
}

.banner-content {
    max-width: 50%;
}


/* plant lovers section styles */
.plant-lovers {
    max-width: 1140px;
    margin: 200px auto 100px;

}

.plant-lover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}

.plant-lover-image,
.plant-lovers-content {
    width: 540px;
}

.plant-badge {
    width: 286px;
    position: absolute;
    top: -130px;
    left: 350px;

}

/* deals styles */

.deals-container {
    max-width: 1140px;
    margin: 0 auto;
}

#bloom {
    width: 367px;
    height: 201px;
    background-image: url(../assets/deal-bloom.png);
    background-color: rgba(0, 0, 0, 0.5);
}

#ana {
    width: 367px;
    height: 201px;
    background-image: url(../assets/deal-ana.png);
}

#zabo {
    width: 753px;
    height: 423px;
    background-image: url(../assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.deals {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}


.deals-cards {
    display: flex;
    flex-direction: row;
    gap: 25px;
    text-align: center;
    justify-items: center;
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* join now section */
.news-later {
    background: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 300px;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 830px;
    margin: 0 auto;
}

.form {
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.form input {
    width: 600px;
    height: 50px;
}

.form input::placeholder {
    font-size: 16px;
    padding: 20px;
    font-family: "Inter", sans-serif;
}

.join-btn {
    width: 180px;
    height: 50px;
    border: 1px solid #E95A08;
    background-color: #E95A08;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

/* footer styles */
footer {
    width: 100%;
    margin: 0 auto;
    padding: 50px 100px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-columns .logo {
    width: 140px;
    margin-bottom: 30px;
}

.footer-nav a {
    display: block;
    margin: 15px;
    font-family: "Inter", sans-serif;
    color: gray;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    margin: 15px;
}

/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    body {
        max-width: 567px;
    }

    /* header */
    .header {
        justify-items: center;
    }

    /* navigation */
    .nav-bar {
        max-width: 400px;
        margin: 0 10px;
        padding: 13px 16px 0 16px;
        align-items: center;
        gap: 230px;
    }

    .logo .logo-image {
        width: 65px;
        margin: 0 auto;
    }

    .nav-cart {
        width: 115px;
    }

    .nav-menu ul {
        display: none;
    }

    /* banner */
    .banner {
        flex-direction: column-reverse;
        max-width: 400px;
        margin: 28px 16px;
    }

    .banner-title {
        font-size: 24px;
    }

    .banner-desc {
        font-size: 14px;
    }

    .banner-image img {
        max-width: 393px;
        margin: 0 28px 0 0;
    }

    .banner-content {
        max-width: 360px;
        margin: 28px 16px 0 16px;
    }

    /* plant shop */
    .plants {
        max-width: 400px;
        margin: 0 auto;
    }

    .plants-content .section-title {
        font-size: 24px;
    }

    .plants-content .section-desc-our-plants {
        max-width: 330px;
        margin: 0 auto;
        font-size: 14px;
    }

    .plants-cards {
        grid-template-columns: repeat(2, 1fr);
        max-width: 360px;
        margin: 30px auto;
    }

    /* plant lovers */
    .plant-lovers {
        max-width: 360px;
        margin: 30 auto;
    }

    .plant-badge {
        display: none;
    }

    .plant-lover-container {
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }

    .plant-lover-image {
        max-width: 100%;
        margin: 0;
        padding: 10px;
    }

    .plant-lovers-content {
        max-width: 95%;
        margin: 0;
    }

    .plant-lovers-content h2 {
        font-size: 24px;
    }

    .plant-lovers-content li {
        font-size: 14px;
    }

    /* latest deals */
    .latest-deals {
        max-width: 360px;
        margin: 30px auto;
        justify-items: center;
    }

    .deals-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 16px 28px;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .deals-content {
        max-width: 400px;
        margin: 0 auto;
    }

    .deals-content h2 {
        font-size: 24px;
    }

    .deals-content p {
        max-width: 330px;
        margin: 10 auto;
        font-size: 14px;
    }

    .deals-cards {
        flex-direction: column;
        max-width: 400px;
        margin: 30px auto;
    }

    .deals {
        max-width: 360px;
        margin: auto;
    }

    .deals p {
        font-size: 20px;
    }

    .deals a {
        font-size: 16px;
    }

    #zabo {
        height: 201px;
    }

    /* news later */
    .news-later {
        max-width: 400px;
        margin: 20px auto;
        padding: 70px 30px;
    }

    .news-later h2 {
        font-size: 20px;
    }

    .news-container {
        max-width: 350px;
        margin: 0 auto;
    }

    .form {
        max-width: 320px;
        margin-top: 20px;
    }

    .form input {
        max-width: 200px;
        margin: 0 auto;
    }

    .form input::placeholder {
        font-size: 16px;
        padding: 5px;
        font-family: "Inter", sans-serif;
    }

    .join-btn {
        max-width: 100px;
        margin: 0 auto;
        font-size: 16px;
        font-family: "Inter", sans-serif;
    }

    .footer-container {
        flex-direction: column;
        text-align: left;
    }

    .footer-columns {
        margin-top: 30px;
    }
}