/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* tailwind */
@import "tailwindcss";

/* custom utilities */
@layer utilities {
    .font-inter {
        font-family: "Inter", sans-serif;
    }

    .font-noto {
        font-family: "Noto Serif", serif;
    }


    .btn {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        border: 1px solid #E95A08;
        background-color: #E95A08;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s;
    }

    .btn:hover {
        background-color: transparent;
        color: #E95A08;
    }

    .main-color {
        color: #E95A08;
    }

    .section {
        max-width: 100%;
        margin: 60px auto;
        justify-items: center;
    }

    .section-title {
        font-weight: 700;
        font-size: 50px;
    }
}

.plant-lovers {
    max-width: 1140px;
    margin: 200px auto 100px;

}

.plant-lover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}

.plant-lover-image,
.plant-lovers-content {
    width: 540px;
}

.plant-badge {
    width: 286px;
    position: absolute;
    top: -130px;
    left: 350px;

}

/* deals styles */

.deals-container {
    max-width: 1140px;
    margin: 0 auto;
}


    #bloom {
        width: 367px;
        height: 201px;
        background-image: url(../assets/deal-bloom.png);
    }

    #ana {
        width: 367px;
        height: 201px;
        background-image: url(../assets/deal-ana.png);
    }

    #zabo {
        width: 753px;
        height: 423px;
        background-image: url(../assets/deal-zabo.png);
    }

    .deals {
        border-radius: 20px;
        text-align: center;
    }

    .deals-cards {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
    .column{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }


/* .deals-images .column .bloom{
    background-image: url(../assets/deal-bloom.png);
}
.deals-images .column .ana{
    background-image: url(../assets/deal-ana.png);
}
.deals-images .zabo {
    background-image: url(../assets/deal-zabo.png);
} */

/* responsive for mobile devices */
@media screen and (max-width: 576px) {

    /* header */
    .header {
        justify-items: center;
    }

    /* navigation */
    .nav-bar {
        width: 100%;
        margin: 0 auto;
        padding: 13px 16px 0 16px;
    }

    .logo-image {
        width: 65px;
    }

    .nav-cart {
        width: 115px;
    }

    .nav-menu ul {
        display: none;
    }

    /* banner */
    .banner {
        flex-direction: column-reverse;
        width: 100%;
        margin: 28px 16px;
    }

    .banner-title {
        font-size: 24px;
    }

    .banner-desc {
        font-size: 14px;
    }

    .banner-image {
        max-width: 99%;
        margin: 0 auto;
    }

    .banner-content {
        margin: 28px 16px 0 16px;
    }

    /* plant shop */
    .plants section {
        max-width: 393px;
        margin: 0 auto;
    }

    .plants-content .section-title {
        font-size: 24px;
    }

    .plants-content .section-desc-our-plants {
        width: 95%;
        margin: 0 auto;
        font-size: 14px;
    }

    .plants-cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
    }

    /* plant lovers */
    .plant-lovers {
        max-width: 100%;
        margin: 0;
    }

    .plant-badge {
        display: none;
    }

    .plant-lover-container {
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }

    .plant-lover-image {
        max-width: 100%;
        margin: 0;
        padding: 10px;
    }

    .plant-lovers-content {
        max-width: 95%;
        margin: 0;
    }

    .plant-lovers-content h2 {
        font-size: 24px;
    }

    .plant-lovers-content li {
        font-size: 14px;
    }
}