/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* tailwind */
@import "tailwindcss";

/* custom utilities */
@layer utilities {
    .font-inter {
        font-family: "Inter", sans-serif;
    }

    .font-noto {
        font-family: "Noto Serif", serif;
    }

    .btn {
        width: 200px;
        height: 50px;
        border: 1px solid var(--main-color);
        background-color: var(--main-color);
        color: #fff;
        font-family: var(--font-inter);
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s;
    }
    .btn:hover {
        background-color: transparent;
        color: var(--main-color);
    }
    .desc-text{
        color: #808080;
        font-size: 1.37rem;
    }
    .main-color{
        color: #E95A08;
    }
    .sec-margin{
        margin: 120px 150px 0 150px;
    }
    
}


/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    .header{
        justify-items: center;
    }
    
    .nav-bar{
        width: 100%;
        margin: 0;
        padding: 13px 16px 0 16px;
    }
    .logo-image{
        width: 65px;
    }
    .nav-cart{
        width: 100px;
    }
    .nav-menu ul{
        display: none;
    }
    .banner{
        flex-direction:column-reverse;
        width: 100%;
        margin: 28px 16px;
    }
    .banner-image{
        margin-top: 28px;
    }
    .banner-content{
        margin: 28px 16px 0 16px;
    }
}